<!DOCTYPE html>

<html lang="en">

<head>

	<meta charset="UTF-8">

	<title>Admin-Диалоги</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="../socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="../_css/bulma.css">
	<style>
		.chat-block{
			box-shadow:2px 3px #ccc;
			border-radius: 6px;
			border:1px #444;
		}
		.is-success-block {
			text-align: right;
		}
		.is-info-block{
			float: : left;
		}
		.new{
			padding: 10px !important;
		}
	</style>
	<script type="text/x-template" id="dialogTemplate">
			<div>
				<template v-for="message in messages">
					<div :class="message.class+'-block'">
						<div :class="'tag is-medium '+message.class">
							{{message.message}}
						</div>
					</div>			
				</template>
				<form @submit.prevent = "sendMessage(recipient)">
					<div class="field"><div class="message-editor">
						<textarea class="input" v-on:keyup.enter.stop.prevent="sendMessage(recipient)" placeholder="Ответить молодому" v-model:value="newMessage"></textarea>
					</div></div>
				</form>
			</div>			
	</script>
</head>

<body>
	<section class="section">
		<div id="app">
			<div class="container">
				<div class="columns">
					<div class="column is-5">
						<nav class="panel">
							<p class="panel-heading has-text-info">
								Диалоги
								&nbsp/&nbsp	<a class="has-text-black" href="./projects"> Проекты</a>&nbsp/&nbsp
								<a class="has-text-black" href="./chat">Отзывы</a>
							</p>
							<p class="panel-tabs">
								<div v-for="(dialog,index) in dialogs" class="panel-block">
								<a @click.prevent="selectDialog(index)">
									Юзер№ {{dialog.user}} <span  v-show="dialog.unread>0"class="tag">{{dialog.unread}}</span>
								</a>
								</div>
							</p>
						</nav>
					</div>

					<div class="column is-7">
						<dialog1 v-show="curDialog!=null"
						v-bind:recipient="curDialog.user"
						v-bind:messages="curDialog.messages"
						v-bind:key="curDialog.user"
						></dialog1>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<script type="text/javascript">

	// window.addEventListener('load', function(){

		var app=new Vue(
			{el:'#app',
			data: {
				connected:0,
				user:777,
				dialogs:[],
				unreadz:[],
				pointer:0,
				curDialog:0
			},
			methods:{
					selectDialog:function(index){
					app.dialogs[index].unread=0;
					app.curDialog=app.dialogs[index];
					socket.emit('read');
					}
			},
			created:function(){
				socket=io();
				sessionStorage.setItem('onwer',777);
			},
			mounted:function() {
				socket.emit('adminhistory', this.user);
				socket.on('adminhistoryget',function(dialogs){
					app.dialogs=dialogs;
					
					if (app.curDialog==0 && app.dialogs.length!=0)
						app.curDialog=app.dialogs[0]
				});
				socket.on('message', function(message)
				{
					//Message from users
					if (message.owner.toString()!=='777') {
						message.class='is-info new';
						let isFound=false;
						for (let i=0;i<app.dialogs.length;i++) {	
							if (app.dialogs[i].user.toString()===message.owner.toString()) {
								app.dialogs[i].messages.push(message);
								if (app.dialogs[i].unread==0)
									app.dialogs[i].unread=1;
								else 
									app.dialogs[i].unread=app.dialogs[i].unread+1;
								isFound=true;
								break;
							}
						}
						if (isFound==false){	
							app.dialogs.push({'user':message.owner, 'messages':[message]});
							app.unreadz.push(1);
						}
						return ;
					} 
					//Message from admin
					else {
						message.class='is-success new';
						let isFound=false;
						for (let i=0;i<app.dialogs.length;i++) {	
							if (app.dialogs[i].user.toString()===message.recipient) {
								app.dialogs[i].messages.push(message);
								// if (app.curDialog.user!=app.dialogs[i].user)
								// 	app.dialogs[i].unreadz+=1;
								isFound=true;
								break;
							}
						}
						if (isFound==false){
							app.dialogs.push({'user':777, 'messages':[message],'unreadz':0});
						}
					}
				})
			}
		})

		Vue.component('dialog1',{
			data:function()
			{
				return {
					newMessage:'',
					visible:true
				}
			},
			props:{
				recipient: String,
				messages: Array
			},
			methods:{
				sendMessage:function(recipient){
					if (this.newMessage.trim()!=='') {
						var d=new Date();
						socket.emit('message',{
							message:this.newMessage.trim(),
							owner:777,
							recipient:recipient,
							date:('0'+d.getHours().toString()).slice(-2)+':'+ ('0'+d.getMinutes().toString()).slice(-2)
						})
						this.newMessage='';	
					}
					else 
						this.newMessage=''
				},
				toggleVisibility:function(isVisible)
				{
					if (isVisible)
						this.visible=false
					else 
						this.visible=true;
				},
			
			},
			template:'#dialogTemplate'
		})
	</script>

	</html>